{% extends 'base.html' %}


{% block title %}<title>My-Shop</title>{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-4">
      <div class="card">
        <img src="{{product.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">price : {{product.price}}</p>
          <a href="{{product.get_absolute_url}}" class="btn btn-primary">view</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
